/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include "falcon.dtsi"
#include "EASY98000-base.dtsi"

/ {
	model = "EASY98000 - Lantiq Falcon (PON IP)";
	compatible = "lantiq,falcon-easy98000-ponip", "lantiq,falcon-easy98000", "lantiq,falcon";

	aliases {
		spi0 = &spi;
	};

	/* to load the dummy driver, HW is not in chip */
	pon_eth: pon_ethernet@2 {
		compatible = "intel,prx300-pon";
		reg = <2>;
	};

	sbs0@1F000000 {
		sfp_i2c@200400 {
			compatible = "intel,pon-sfp-i2c";
			/* mark this as simulation without HW */
			intel,simulate;
			reg = <0x200400 0x400>,
			      <0x200800 0x800>,
			      <0x201000 0x800>,
			      <0x201800 0x800>,
			      <0x202000 0x1000>,
			      <0x204000 0x4000>;
			reg-names = "genrisc-reg",
				    "host-reg",
				    "mac-ht-reg",
				    "aca-mem",
				    "spram",
				    "iram";
		};
	};
};

&ebu_cs0 {
	cfi@0 {
		compatible = "lantiq,nor";
		bank-width = <2>;
		reg = <0x0 0x4000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "uboot";
			reg = <0x00000 0x40000>;
		};

		partition@10000 {
			label = "uboot_env";
			reg = <0x40000 0x40000>;
		};

		partition@20000 {
			label = "linux";
			reg = <0x80000 0x3d0000>;
		};
	};
};

&eth0 {
	/* Disable dm9000 */
	status = "disabled";
};

&pinctrl {
	spi_cs0_pins: spi_cs0_pins {
		spi_cs0_pins {
			lantiq,pins = "io37";
			lantiq,mux = <1>;
			lantiq,output = <1>;
		};
	};
};

&spi {
	cs-gpios = <0>, <0>, <&gpio1 5 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi_cs0_pins>;

	eeprom@1 {
		status = "disabled";
	};

	ethspi@2 {
		compatible = "microchip,enc28j60";
		device_type = "network";
		reg = <2>;
		spi-max-frequency = <10000000>;
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpio0>;
	};
};
