/dts-v1/;

#include "svip.dtsi"

/ {
	model = "EASY33616 - Lantiq VINETIC-SVIP16 Reference LineCard";
	compatible = "lantiq,easy33616", "lantiq,svip";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x3800000>;  // 56M at 0x0 (total size - 8 MB for firmware)
	};

	svip_reset@0 {
		compatible = "lantiq,svip-reset";
		svip-toggle-reset-pin = <0x120000f3 1>;
//		// for EASY33016 board it will be
//		// svip-toggle-reset-pin = <0x120000f3 0x88888888>;
	};
};

&ebu_cs0 {
	nand-parts@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "gen_nand", "lantiq,nand-svip";
		bank-width = <1>;
		reg = <0x0 0x2000000>;
		linux,mtd-name = "gen_nand";
		bbt-use-flash;
		
		partition@0 {
			label = "2nd Level Loader";
			reg = <0x0 0x4000>;
		};
		
		partition@4000 {
			label = "uboot";
			reg = <0x4000 0x4C000>;
		};

		partition@50000 {
			label = "uboot_env";
			reg = <0x50000 0x10000>;
		};

		partition@60000 {
			label = "linux";
			reg = <0x60000 0x800000>;
		};
		
	};
};

&eth_0 {
	ethernet@0 {
		compatible = "lantiq,svip-eth-port";
		reg = <0>;
		phy-handle = <&phy0>;
	};

	mdio@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "lantiq,svip-mdio";
		phy0: ethernet-phy@0 {
			reg = <0x0>;
			compatible = "vitesse,vsc8641", "ethernet-phy-ieee802.3-c22";
		};
	};
};
