/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include "falcon.dtsi"
#include "falcon-sflash-16M.dtsi"

/ {
	model = "EASY98020 - Lantiq Falcon Reference Board (PON IP)";
	compatible = "lantiq,falcon-easy98020-ponip", "lantiq,falcon-easy98020", "lantiq,falcon";

	chosen {
		bootargs = "console=ttyLTQ0,115200 init=/etc/preinit";
	};

	aliases {
		spi0 = &ebu_cs0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x4000000>;  // 64M at 0x0
	};

	pinctrl {
		led_pins: phy-led-pins {
			lantiq,pins = "io42", "io41", "io38", "io37";
			lantiq,function = "gpio";
		};
	};

	easy98020-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&bootled_pins>;

		GPON {
			label = "easy98020:green:gpon";
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		TEST {
			label = "easy98020:green:test";
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		ETH {
			label = "easy98020:green:status";
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		VOICE {
			label = "easy98020:green:voice";
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		VIDEO {
			label = "easy98020:green:video";
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};

	spi-gpio {
		compatible = "spi-gpio";
		#address-cells = <0x1>;
		ranges;

		gpio-sck = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio1 6 GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		num-chipselects = <1>;

		ponmbox@1 {
			compatible = "intel,prx300-pon-mbox";
			reg = <0>;
			spi-max-frequency = <100000>;
			spi-cpha;
			spi-cpol;

			interrupts = <1 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-parent = <&gpio0>;
		};
	};

	/* to load the dummy driver, HW is not in chip */
	pon_eth: pon_ethernet@2 {
		compatible = "intel,prx300-pon";
		reg = <2>;
	};

	sbs0@1F000000 {
		sfp_i2c@200400 {
			compatible = "intel,pon-sfp-i2c";
			/* mark this as simulation without HW */
			intel,simulate;
			reg = <0x200400 0x400>,
			      <0x200800 0x800>,
			      <0x201000 0x800>,
			      <0x201800 0x800>,
			      <0x202000 0x1000>,
			      <0x204000 0x4000>;
			reg-names = "genrisc-reg",
				    "host-reg",
				    "mac-ht-reg",
				    "aca-mem",
				    "spram",
				    "iram";
		};
	};
};

&i2c {
	status = "okay";
	clock-frequency = <100000>;

	eeprom@50 {
		compatible = "at,24c02";
		reg = <0x50>;
	};
	eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};
