#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/gpio/gpio.h>
#include "prx300.dtsi"

/******************************************************************************
 ** Board configuration: Enable PCIe board configuration.
 ** PCIE sub-system feature configuration, the pcie0/1 are defined in Soc level
 ******************************************************************************/
&pcie0 {
	intel,rst-interval = <200>;
	intel,inbound-swap = <1>;
	intel,outbound-swap = <0>;
	reset-gpios = <&ssogpio 18 GPIO_ACTIVE_LOW>;
	num-lanes = <2>;
};

&pcie1 {
	intel,rst-interval = <200>;
	intel,inbound-swap = <1>;
	intel,outbound-swap = <0>;
	reset-gpios = <&ssogpio 13 GPIO_ACTIVE_LOW>;
	num-lanes = <1>;
};

/******************************************************************************
 ** Board configuration: Enable dect SS.
 ******************************************************************************/
/ {
	dect {
		compatible = "intel,inteldect";
		interrupts = <21 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpio0>;
		intel,dect-cs = <&gpio0 29 0>;
		intel,dect-reset = <&ssogpio 19 0>;
		status = "disabled";
	};
	dect-page-intel {
		compatible = "intel,inteldect-page";
		lantiq,pagebit= <1>; /*DECT Page Bit: Bit info meant for DECT*/
		lantiq,pagepin= <&gpio0 28 0>;
		status = "disabled";
	};
};

/******************************************************************************
 ** Board configuration: Enable Shift register LED board configuration.
 ******************************************************************************/
&ssogpio {
	status = "okay";
	intel,sso-update-rate = <250000>;
	/* Shift clk freq: 25MHz, 12.5MHz, 6.25MHz, 3.125Mz */
	intel,sso-shift-clk-freq = <6250000>;

	/* Select the WAN SFP cage over the WAN XFP cage in ref 1.2 */
	sfp_xfp_select {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sfp_xfp_select";
	};

	/* Aquantia PHY reset on board rev 1.1 only */
	aquantia_reset18 {
		gpio-hog;
		gpios = <18 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "aquantia_reset18";
	};

	/* Aquantia PHY reset on board rev 1.2 and later */
	aquantia_reset13 {
		gpio-hog;
		gpios = <13 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "aquantia_reset13";
	};
};

&ssoled {
	status = "okay";

	/* led definition */
	intel,sso-def-brightness = <0>; /* default off */
	/*
	 * All pin numbers here are (31-original number) for the V1.1 board.
	 * TODO: Define default jumpers for the other LEDs!
	 *
	 * Deactivate the pins which conflict with some non SW LEDs in
	 * Ref 1.2 boards.
	 */
	led4: led4 {
		status = "disabled";
		label = "led4:green:sw";
		led-gpio = <&ssogpio 4 0>;
		intel,led-pin = <4>;
	};
	led5: led5 {
		status = "disabled";
		label = "led5:green:sw";
		led-gpio = <&ssogpio 5 0>;
		intel,led-pin = <5>;
	};
	led6: led6 {
		label = "led6:green:sw";
		led-gpio = <&ssogpio 6 0>;
		intel,led-pin = <6>;
	};
	led7: led7 {
		status = "disabled";
		label = "led7:green:sw";
		led-gpio = <&ssogpio 7 0>;
		intel,led-pin = <7>;
	};
};

/******************************************************************************
 ** Board configuration: Enable CoC power management board feature
 ******************************************************************************/
&i2c0 {
	status = "okay";

	/* power monitor */
	ina219@41 {
		compatible = "ti,ina219";
		reg = <0x41>;
		shunt-resistor = <10000>;
		rail-name = "PWR_12V";
	};

	ina219@42 {
		compatible = "ti,ina219";
		reg = <0x42>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3";
	};

	ina219@43 {
		compatible = "ti,ina219";
		reg = <0x43>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V2_1V35";
	};

	ina219@45 {
		compatible = "ti,ina219";
		reg = <0x45>;
		shunt-resistor = <10000>;
		rail-name = "PWR_0V9";
	};

	ina219@46 {
		compatible = "ti,ina219";
		reg = <0x46>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V8";
	};

	ina219@47 {
		compatible = "ti,ina219";
		reg = <0x47>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V5";
	};

	ina219@48 {
		compatible = "ti,ina219";
		reg = <0x48>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V1";
	};

	ina219@49 {
		compatible = "ti,ina219";
		reg = <0x49>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V8_3V3";
	};

	ina219@4a {
		compatible = "ti,ina219";
		reg = <0x4a>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_TID0";
	};

	ina219@4b {
		compatible = "ti,ina219";
		reg = <0x4b>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_SFP";
	};

	ina219@4c {
		compatible = "ti,ina219";
		reg = <0x4c>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_TID1";
	};

	ina219@4d {
		compatible = "ti,ina219";
		reg = <0x4d>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_SHR";
	};

	ina219@4e {
		compatible = "ti,ina219";
		reg = <0x4e>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_WAN";
	};

	ina219@4f {
		compatible = "ti,ina219";
		reg = <0x4f>;
		shunt-resistor = <10000>;
		rail-name = "PWR_2V5";
	};

	/* EEPROM of the optical WAN transceiver */
	eeprom@50 {
		compatible = "at,24c02";
		reg = <0x50>;
	};
	eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};

/******************************************************************************
 ** Board configuration: Enable SSC1 to support standard SPI devices (SPI Flash)
 ******************************************************************************/
/*
&ssc1 {
		status="okay";
		mt29f@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0 1>;
				compatible = "spinand,mt29f";
				linux,modalias = "mt29f";
				spi-max-frequency = <1000000>;

				partition@0 {
					label = "uboot";
					reg = <0x000000 0x100000>;
				};

				partition@100000 {
					label = "data";
					reg = <0x100000 0x1000000>;
				};

				partition@1100000 {
					label = "res";
					reg = <0x1100000 0x6E00000>;
				};
			};
};
*/
/******************************************************************************
 ** Board configuration: Configure LAN/WAN interfaces
 ******************************************************************************/
&eth {
	status = "okay";

	lan0: interface@0 {
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;
		intel,dp-dev-port = <3>;
		intel,dp-port-id = <3>;
		mac = <&gsw_mac1>;
		intel,lct-en = <1>;
		intel,extra-subif = <3>;

		ethernet@1 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
			phy-handle = <&aquantia_phy>;
		};
	};

	lan1: interface@1 {
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;
		intel,dp-dev-port = <4>;
		intel,dp-port-id = <4>;
		mac = <&gsw_mac2>;
		intel,lct-en = <1>;
		intel,extra-subif = <3>;

		lan1_eth: ethernet@1 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
		};
	};

	wan: interface@5 {
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;
		lantiq,wan = <1>;
		intel,dp-dev-port = <2>;
		intel,dp-port-id = <2>;
		mac = <&gsw_mac0>;

		ethernet@5 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
		};
	};
};

/* xgmac mdio pins */
&gsw_mac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio0>;
};

/* mdio0 bus */
&mdio0 {
	#address-cells = <1>;
	#size-cells = <0>;
	aquantia_phy: ethernet-phy@0 {
		reg = <0x0>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
};

/* This is needed to improve qspi stability on the board */
&pinctrl_qspi {
	intel,slew-rate = <1>;
	intel,drive-current = <3>;
};

&pinctrl_spi0_alt {
	intel,slew-rate = <1>;
	intel,drive-current = <3>;
};

&pinctrl_spi0_cs_alt {
	intel,slew-rate = <1>;
	intel,drive-current = <3>;
};

&ssc0 {
	pinctrl-0 = <&pinctrl_spi0_alt &pinctrl_spi0_cs_alt>;

	ltq-spinand@1 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <1>;
		compatible = "lantiq,spinand";
		linux,mtd-name = "nand.0";
		spi-max-frequency = <15384615>;
	};

	mx25l12835f@1 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <15384615>;
	};
};

&qspi0 {
	ltq-spinand@0 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "lantiq,spinand";
		reg = <0 1>;
		linux,mtd-name = "nand.0";
		spi-max-frequency = <50000000>;
		page-size = <2048>;
		block-size = <17>; // 2^17, 128KB
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		/* Read-delay is needed for higher freq.
		 * 2 ref_clk is chosen as value that works well upto
		 * spi-freq 50MHz (with ref_clk 100MHz).
		 */
		read-delay = <2>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;
	};

	mx25l12835f@0 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0 1>;
		page-size = <256>;
		block-size = <16>; // 2^16, 64KB
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		/* Read-delay is needed for higher freq.
		 * 2 ref_clk is chosen as value that works well upto
		 * spi-freq 50MHz (with ref_clk 100MHz).
		 */
		read-delay = <2>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;
	};
};

&wan_xpcs {
	status = "disabled";
	xpcs-conntype = "SFP"; /* SFP or PHY */
};

&lan_xpcs0 {
	status = "disabled";
	xpcs-conntype = "SFP"; /* SFP or PHY */
	xpcs-mode = <0>; /* 0 - 10G_KR_MODE, 1 - 10G_XAUI_MODE, 2 - 1G_XAUI_MODE, 3 - 2P5G_GMII_MODE */
};

&lan_xpcs1 {
	status = "disabled";
	xpcs-conntype = "SFP"; /* SFP or PHY */
};

/******************************************************************************
 ** Board configuration: Enable voice
 ******************************************************************************/

/* use CPU1 for voice firmware */
&cpu1 {
	default-OS = "VOICEFW";
};

/* Use SSO pin 15 for SLC220 reset.
   To use GPIO9 as SLC220 reset comment out the ssi_rst_sso and vcodec block. */
&ssi_rst_sso {
	status = "okay";
};

&vcodec {
	pinctrl-0 = <&pinctrl_ssi &pinctrl_ssi_rx>;
};

&gptc0 {
	status = "okay";
	intel,clk = <&clocksource 3 1 0 10>;
};

