#include <dt-bindings/gpio/gpio.h>
#include "prx300.dtsi"

/******************************************************************************
 ** Board configuration: Enable Shift register LED board configuration.
 ******************************************************************************/
&ssogpio {
	status = "okay";
	ngpios = <16>;
	intel,sso-update-rate = <250000>;
	/* Shift clk freq: 25MHz, 12.5MHz, 6.25MHz, 3.125Mz */
	intel,sso-shift-clk-freq = <6250000>;
};

&ssoled {
	status = "okay";

	/* led definition */
	intel,sso-def-brightness = <0>; /* default off */
	/* blink rate list: 2, 4, 8, 10, 50K, 100K, 200K, 250K*/
	intel,sso-def-blinkrate = <250000>;
};

/******************************************************************************
 ** Board configuration: Enable I2C for WAN transceiver EEPROM
 ******************************************************************************/
&i2c0 {
	status = "okay";

	/* EEPROM of the optical WAN transceiver */
	eeprom@50 {
		compatible = "at,24c02";
		reg = <0x50>;
	};
	eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};

/******************************************************************************
 ** Board configuration: Configure LAN/WAN interfaces
 ******************************************************************************/
&eth {
	status = "okay";

	lan0: interface@0 {
		status = "okay";
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;
		intel,dp-dev-port = <3>;
		intel,dp-port-id = <3>;
		mac = <&gsw_mac1>;
		intel,lct-en = <1>;
		intel,extra-subif = <3>;

		ethernet@1 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
			phy-handle = <&aquantia_phy>;
		};
	};

	lan1: interface@1 {
		status = "okay";
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;
		intel,dp-dev-port = <4>;
		intel,dp-port-id = <4>;
		mac = <&gsw_mac2>;
		intel,lct-en = <1>;
		intel,extra-subif = <3>;

		ethernet@1 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
			phy-handle = <&gphy>;
		};
	};

	wan: interface@5 {
		status = "disabled";
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;
		lantiq,wan = <1>;
		intel,dp-dev-port = <2>;
		intel,dp-port-id = <2>;
		mac = <&gsw_mac0>;

		ethernet@5 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
		};
	};
};

/* xgmac mdio pins */
&gsw_mac1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio0>;
};

/* mdio0 bus */
&mdio0 {
	#address-cells = <1>;
	#size-cells = <0>;
	aquantia_phy: ethernet-phy@0 {
		reg = <0x0>;
		compatible = "ethernet-phy-ieee802.3-c45";
	};
};

/* This is needed to improve qspi stability on the board */
&pinctrl_qspi {
	intel,slew-rate = <1>;
	intel,drive-current = <3>;
};

&ssc0 {
	pinctrl-0 = <&pinctrl_spi0_alt &pinctrl_spi0_cs_alt>;

	ltq-spinand@1 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <1>;
		compatible = "lantiq,spinand";
		linux,mtd-name = "nand.0";
		spi-max-frequency = <15384615>;
	};
};

&qspi0 {
	ltq-spinand@0 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "lantiq,spinand";
		reg = <0 1>;
		linux,mtd-name = "nand.0";
		spi-max-frequency = <50000000>;
		page-size = <2048>;
		block-size = <17>; // 2^17, 128KB
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		/* Read-delay is needed for higher freq.
		 * 2 ref_clk is chosen as value that works well upto
		 * spi-freq 50MHz (with ref_clk 100MHz).
		 */
		read-delay = <2>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;
	};
};

&cb0phy0 {
	status = "okay";
	intel,mode = <1>; /*0-pcie, 1-xpcs*/
};

&cb0phy1 {
	status = "okay";
	intel,mode = <1>; /*0-pcie, 1-xpcs*/
};

&wan_xpcs_phy {
	status = "disabled";
};

&wan_xpcs {
	status = "disabled";
	xpcs-conntype = "SFP"; /* SFP or PHY */
};

&lan_xpcs0 {
	status = "okay";
	xpcs-mode = <0>; /* 0 - 10G_KR_MODE, 1 - 10G_XAUI_MODE, 2 - 1G_XAUI_MODE, 3 - 2P5G_GMII_MODE */
	xpcs-conntype = "SFP"; /* SFP or PHY */
};

&lan_xpcs1 {
	status = "disabled";
	xpcs-conntype = "SFP"; /* SFP or PHY */
};

&gphy_fw {
	status = "okay";
};

&gphy {
	status = "okay";
};

&watchdog {
	/* individual reset controls that need to
	 * explicitly asserted during reset
	 */
	resets = <&rcu0 0x10 29>;
	reset-names = "gphy";
};

/******************************************************************************
** Board configuration: Enable voice
******************************************************************************/

/* Use CPU1 for voice firmware. */
&cpu1 {
        default-OS = "VOICEFW";
};

/* Use SSO pin 15 for SLC200 reset. */
&ssi_rst_sso {
        status = "okay";
};

/* Do not use GPIO for SLC200 reset. */
&vcodec {
        pinctrl-0 = <&pinctrl_ssi &pinctrl_ssi_rx>;
};

&gptc0 {
	status = "okay";
	intel,clk = <&clocksource 3 1 0 10>;
};
