/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

#include "falcon.dtsi"
#include "falcon-sflash-16M.dtsi"

/ {
	model = "EASY98020 - Lantiq Falcon Reference Board V1.8 (PON IP)";
	compatible = "lantiq,falcon-easy98020-V18-ponip", "lantiq,falcon-easy98020-V18", "lantiq,falcon-easy98020", "lantiq,falcon";

	chosen {
		bootargs = "console=ttyLTQ0,115200 init=/etc/preinit";
	};

	aliases {
		spi0 = &ebu_cs0;
		spi1 = &spi;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x4000000>;  // 64M at 0x0
	};

	pinctrl {
		led_pins: led-pins {
			lantiq,pins = "io11", "io14";
			lantiq,function = "gpio";
		};
	};

	easy98020-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins &bootled_pins>;

		GPON {
			label = "easy98020:green:gpon";
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		TEST {
			label = "easy98020:green:test";
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};

	/* to load the dummy driver, HW is not in chip */
	pon_eth: pon_ethernet@2 {
		compatible = "intel,prx300-pon";
		reg = <2>;
	};

	sbs0@1F000000 {
		sfp_i2c@200400 {
			compatible = "intel,pon-sfp-i2c";
			/* mark this as simulation without HW */
			intel,simulate;
			reg = <0x200400 0x400>,
			      <0x200800 0x800>,
			      <0x201000 0x800>,
			      <0x201800 0x800>,
			      <0x202000 0x1000>,
			      <0x204000 0x4000>;
			reg-names = "genrisc-reg",
				    "host-reg",
				    "mac-ht-reg",
				    "aca-mem",
				    "spram",
				    "iram";
		};
	};
};

&spi {
	status = "ok";

	ponmbox@1 {
		compatible = "intel,prx300-pon-mbox";
		reg = <1>;
		spi-max-frequency = <10000000>;
		spi-cpha;
		spi-cpol;

		interrupts = <1 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gpio0>;
	};
};

&i2c {
	status = "okay";
	clock-frequency = <100000>;

	eeprom@50 {
		compatible = "at,24c02";
		reg = <0x50>;
	};
	eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};
