#include "easy550_V1_anywan.dts"

/******************************************************************************
** VRX518 is bound to pcie1 and need inverted reset because of dying gasp
******************************************************************************/ 
&pcie1 {
	reset-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>; /* High active reset */
};

/******************************************************************************
** DC/DC converter TPS65273 has different I2C address  
******************************************************************************/ 
&dcdc {
	reg = <0x60>;
}; 

&i2c {
	status = "okay";

	ina219@48 {
		compatible = "ti,ina219";
		reg = <0x48>;
		shunt-resistor = <10000>;
		rail-name = "           PWR_12V ";
	};

	ina219@49 {
		compatible = "ti,ina219";
		reg = <0x49>;
		shunt-resistor = <10000>;
		rail-name = "          PCIE_3V3 ";
	};

	ina219@4E {
		compatible = "ti,ina219";
		reg = <0x4E>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module3_P3V3 ";
	};

	ina219@42 {
		compatible = "ti,ina219";
		reg = <0x42>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module3_P5V0 ";
	};

	ina219@46 {
		compatible = "ti,ina219";
		reg = <0x46>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module3_P2V5 ";
	};

	ina219@4D {
		compatible = "ti,ina219";
		reg = <0x4D>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module2_A3V3 ";
	};

	ina219@41 {
		compatible = "ti,ina219";
		reg = <0x41>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module2_1V5  ";
	};

	ina219@45 {
		compatible = "ti,ina219";
		reg = <0x45>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module2_1V15 ";
	};

	ina219@4C {
		compatible = "ti,ina219";
		reg = <0x4C>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module1_3V3  ";
	};

	ina219@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module1_1V1  ";
	};

	ina219@44 {
		compatible = "ti,ina219";
		reg = <0x44>;
		shunt-resistor = <10000>;
		rail-name = "Power_Module1_A1V15";
	};

	ina219@4F {
		compatible = "ti,ina219";
		reg = <0x4F>;
		shunt-resistor = <100000>;
		rail-name = "VRX518_IN_12V      ";
	};

	ina219@43 {
		compatible = "ti,ina219";
		reg = <0x43>;
		shunt-resistor = <47000>;
		rail-name = "VRX518_1V1         ";
	};

	ina219@47 {
		compatible = "ti,ina219";
		reg = <0x47>;
		shunt-resistor = <100000>;
		rail-name = "VRX518_1V5         ";
	};

	ina219@4A {
		compatible = "ti,ina219";
		reg = <0x4A>;
		shunt-resistor = <470000>;
		rail-name = "VRX518_3V3         ";
	};

	ina219@4B {
		compatible = "ti,ina219";
		reg = <0x4B>;
		shunt-resistor = <470000>;
		rail-name = "VRX518_LD_14V      ";
	};

}; 
