#include <dt-bindings/gpio/gpio.h>
#include "prx126-sfp.dtsi"

/******************************************************************************
 ** Board configuration: Enable PCIe board configuration.
 ** PCIE sub-system feature configuration, the pcie0/1 are defined in Soc level
 ******************************************************************************/
&pcie0 {
	intel,rst-interval = <200>;
	intel,inbound-swap = <1>;
	intel,outbound-swap = <0>;
	reset-gpios = <&ssogpio 18 GPIO_ACTIVE_LOW>;
	num-lanes = <2>;
};

/******************************************************************************
 ** Board configuration: Enable CoC power management board feature
 ******************************************************************************/
&i2c0 {
	/* power monitor */
	ina219@40 {
		compatible = "ina219";
		reg = <0x40>;
		shunt-resistor = <10000>;
		rail-name = "PWR_12V";
	};

	ina219@41 {
		compatible = "ina219";
		reg = <0x41>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3";
	};

	ina219@42 {
		compatible = "ina219";
		reg = <0x42>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V2_1V35";
	};

	ina219@43 {
		compatible = "ina219";
		reg = <0x43>;
		shunt-resistor = <10000>;
		rail-name = "PWR_0V9";
	};

	ina219@44 {
		compatible = "ina219";
		reg = <0x44>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V2_DDR";
	};

	ina219@45 {
		compatible = "ina219";
		reg = <0x45>;
		shunt-resistor = <10000>;
		rail-name = "PWR_2V5_DDR";
	};

	ina219@46 {
		compatible = "ina219";
		reg = <0x46>;
		shunt-resistor = <10000>;
		rail-name = "PWR_CPLD";
	};

	ina219@47 {
		compatible = "ina219";
		reg = <0x47>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_TID0";
	};

	ina219@48 {
		compatible = "ina219";
		reg = <0x48>;
		shunt-resistor = <10000>;
		rail-name = "PWR_12V_TID0";
	};

	ina219@49 {
		compatible = "ina219";
		reg = <0x49>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_TID1";
	};

	ina219@4a {
		compatible = "ina219";
		reg = <0x4a>;
		shunt-resistor = <10000>;
		rail-name = "PWR_12V_TID1";
	};

	ina219@4b {
		compatible = "ina219";
		reg = <0x4b>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_SFP";
	};

	ina219@4c {
		compatible = "ina219";
		reg = <0x4c>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_WAN";
	};

	ina219@4d {
		compatible = "ina219";
		reg = <0x4d>;
		shunt-resistor = <10000>;
		rail-name = "PWR_12V_WAN";
	};

	ina219@4e {
		status = "disabled";
		compatible = "ina219";
		reg = <0x4e>;
		shunt-resistor = <10000>;
		rail-name = "PWR_FLASH";
	};
};
